@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    
    to {
        background-position: -200% center;
    }
}

@keyframes background-rise {
    from {
        background-position: 0% 0%;
    }
    
    to {
        background-position: 0% -330vh;
    }
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
