@use 'var';

.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;

    & img {
        height: 300px;
        object-fit: cover;
        filter: blur(2px);
        border-radius: 16px;
    }
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 8px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 8px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Caption text */
.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 90%;
    left: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 24px;
        font-weight: 900;
    }

    &__tech {
        font-weight: 100;
    }

    & .magic {
        font-size: 40px;
        background: linear-gradient(to right,
                var.$cyan,
                var.$ocBlue,
                var.$cyan );
        background-size: 200%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}