@use 'var';
@use 'menu';
@use 'ani';
@use 'sobre';
@use 'portfolio';
@use 'goUp';
@use 'footer';
@use 'contact';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: white;
    text-decoration: none;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    width: 100vw;
}

body {
    background-color: var.$bgDark;
    background-image: url(../img/stars.png);
    background-size: contain;
    overflow-x: hidden;
    animation: background-rise 800s linear infinite;
}

section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    align-items: center;
    display: flex;

    .section__title{
        font-size: 5rem;
        margin-bottom: 16px;
        letter-spacing: 2px;
        font-weight: 700;

        @media (max-width: 780px){
            font-size: 3rem;
        }
    }
}

.centro{
    margin: 0 auto;
    position: relative;
    max-width: 1080px;
    width: 80%;
}

.magic{
    animation: background-pan 5s linear infinite;
    background: linear-gradient(
        to right,
        var.$cyan,
        var.$ocBlue,
        var.$navy,
        var.$cyan
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


